.voice-rule {
  display: block;
  position: relative;
  padding-left: var(--space-14);
  font: var(--type-small);
}
.voice-rule::before {
  position: absolute;
  left: var(--space-2);
  content: '•';
}
